- if logged_in?
  You have 
  = @tapsters.size
  tapsters.

.tapster
  = form_for(@tapster) do
    .question
      %textarea{ placeholder: 'What would you like to know?' }
    .controls
      %input{ type: 'submit' }
