.tapster
  = form_for(@tapster) do |f|
    .errors
    = f.text_area(:question, placeholder: 'What would you like to know?', rows: nil, cols: nil, :class => 'question', :style => 'width: 90%')
    %input{ :name => 'tapster[tags]', :id=>"tag1", :value=>"business,ruby,social"}
    .controls
      = submit_tag('Tap it!')
