- if logged_in?
  You have 
  = @tapsters.size
  tapsters.

.tapster
  = form_for(@tapster) do |f|
    .question
      = f.text_area(:question, placeholder: 'What would you like to know?')
    .controls
      = submit_tag('Tap it!')
