%tr.listing
  %td
    =link_to(truncate(tapster.question, :length => 30), tapster_path(tapster))
  %td
    =distance_of_time_in_words(tapster.created_at, Time.now)
    ago
  %td
    =render :partial => 'options/option', :collection => tapster.options
