.tapster
  .metadata
    -if current_user.id == @tapster.user.id
      You
    -else
      =@tapster.user.name
    asked
    =distance_of_time_in_words(@tapster.created_at, Time.now)
    ago
  .question
    =@tapster.question
  - if @tapster.tags
    .tags
      Tags:
      %strong=@tapster.tags.split(',').join(', ')
    .people-to-send
      Recipients:
      %strong
        =@recipients.map(&:email).join(',')
  .controls
    %table
      %tbody
        %tr
          =render :partial => 'options/option', :collection => @tapster.options
