jQuery ->
  $('body').prepend('<div id="fb-root"><div><div></div></div><div><div><iframe id="fb_xdm_frame_http" name="fb_xdm_frame_http" title="testing"></iframe><iframe id="fb_xdm_frame_https" name="fb_xdm_frame_https" tabindex="-1" title="testing"></iframe></div></div></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true


window.fbAsyncInit = ->
  FB.init(appId: $('[data-facebook-app-id]').data('facebook-app-id'), cookie: true)
  FB.getLoginStatus (response) ->
    $('#fb-root').find('iframe').attr('title', 'testing')

  $('#sign_in').click (e) ->
    e.preventDefault()
    FB.login (response) ->
      window.location = '/auth/facebook/callback' if response.authResponse

