// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
  color: white;
}
#container {
  color: black;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
.header {
  overflow: auto;
  .left-header {
    float: left;
  }
  .right-header {
    float: right;
  }
}

