.tapster {
  margin-left: 20px;
  margin-right: 20px;
//  border: 1px solid aqua;
  padding: 20px;
  .metadata {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #aaa;
    text-align: right;
  }
  .question {
    margin-left: 20px;
    margin-right: 20px;
//    border: 1px solid aqua;
  }
  table {
    width: 100%;
  }
  .controls {
//    border: 1px solid aqua;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .errors {
    color: red;
    margin: 10px;
    margin-left: 20px;
  }
}
