// Place all the styles related to the Tapsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tapster {
  margin-left: 20px;
  margin-right: 20px;
//  border: 1px solid aqua;
  padding: 20px;
  .metadata {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #aaa;
    text-align: right;
  }
  .question {
    margin-left: 20px;
    margin-right: 20px;
//    border: 1px solid aqua;
  }
  table {
    width: 100%;
  }
  .controls {
//    border: 1px solid aqua;
    overflow: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
