!!! 5
%html
  %head
    %meta{ :name="viewport", :content => 'width=device-width', 'initial-scale' =>"1.0"}
    %title= "Your Website"
    =yield :meta
    =javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    =javascript_include_tag :application
    =stylesheet_link_tag :application
  %body
    - if logged_in?
      Logged in as
      = current_user.try(:name)
    - else
      #sign_in
        Login
    %div{ 'data-facebook-app-id' => ENV['FACEBOOK_APP_ID'] }
    %h1 Tapster.
    #container
      = yield
